<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express_project3</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   {{!-- <h2>{{>header}}</h2>
    <h2>{{title}}</h2> --}}
 
    <form id="forecastform">
<input type="text" id="adress">
<button id="btn1">weather...?</button>
    </form>
    <div id="welcome">
<p id="welcome"><h6>welcome to our website, to know your countr weather, longitude , latitude, please enter the country name</h6></p>
</div>

<div>
    <p id="location"></p>
</div>
<div id="forecast">
<p id="forecast"></p>
</div>
<p id="longititude"></p>
<p id="latitude"></p>
<p id="error"></p>

   <script src="javascript/script.js"></script>
</body>
</html>
