{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <h2>{{>header}}</h2>
<h1>hbs {{title}}</h1>
  <h1>hbs {{nane}}</h1>  
<h1>hbs {{age}}</h1>
   
</body>
</html> --}}
